/* BELOW ARE STYLES FOR THE HEADER COMPONENT */
.cActionsPanel {
	align-items: center;
	display: flex;
}

.cHeaderContainer {
	background-color: hsla(0, 0%, 0%, 0.8);
	left: 0;
	padding: 0.5rem 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 100px;
}

.cNavbarTitle {
	color: var(--title-color);
	display: inline-block;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	font-family: var(--cursive-font);
}

.cNavbarTitleContainer {
	align-items: center;
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	text-decoration: none;
}

.cNavbarTitlePanel {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 1rem;
	position: relative;
}

/* BELOW ARE STYLES FOR THE ACTION BUTTON COMPONENT INSIDE THE HEADER */
.cNavActionIconsContainer {
	display: flex;
	gap: 2rem;
}

.cNavActionIconsContainer *:hover {
	cursor: pointer;
}

.cSaveIcon svg:hover,
.cBackIcon svg:hover {
	fill: var(--title-color);
}

.cHideIcon {
	display: none;
}

/* BELOW ARE STYLES FOR THE NOTES PAGE */
.cNotesPageWrapper {
	width: 100%;
	height: calc(100vh - 10rem);
	display: flex;
	margin: 6.25rem 2.5% 0rem;
}

.cNotesListContainer {
	width: auto;
	max-width: 32.5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-basis: 32.5%;
	border: 1.5px solid var(--vague-color);
	border-bottom: none;
	border-top: none;
	padding: 0 1.5rem;
}

.cNotesListItem {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.25rem;
	border-bottom: 1.5px solid var(--vague-color);
	cursor: pointer;
	padding: 0rem 0.5rem;
}

.cNotesListItem:first-child {
	padding-top: 2rem;
}

.cNotesListItem:last-child {
	border-bottom: none;
}

.cNotesListActionIcons {
	display: flex;
	gap: 1.25rem;
}

.cDeleteIcon svg:hover {
	fill: tomato;
}

.cEditIcon svg:hover {
	fill:lawngreen;
}

.cNotesListItem > h3[data-status='active'] {
	font-weight: bold;
	color: var(--title-color)
}

.cNoteViewContainer {
	width: auto;
	max-width: 62.5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 62.5%;
	padding-left: 1.5rem;
}

.cNoteTitle {
	width: 100%;
	height: auto;
	max-height: 15%;
	flex-basis: 15%;
	font-size: 3rem;
	color: var(--main-color);
	background-color: var(--secondary-text-color);
	border: none;
	border-bottom: 1px solid #757575;
	outline: none;
	padding-left: 1rem;
}

.cNoteText {
	width: 100%;
	height: auto;
	max-height: 75%;
	flex-basis: 75%;
	font-size: 1.5rem;
	color: var(--main-color);
	background-color: var(--secondary-text-color);
	border: none;
	outline: none;
	resize: none;
	padding-left: 1rem;
	padding-top: 0.5rem;
}

.cViewOnly {
	pointer-events: none;
}

/* BELOW ARE STYLES FOR THE FOOTER COMPONENT */
.cFooterContainer {
	background-color: #111222;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 60px;
}

.cDisclaimer {
	color: var(--vague-color);
	opacity: 0.7;
}
