@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

:root {
	--accent-text-color: #e1bee7;
	--cursive-font: 'Shadows Into Light Two', cursive;
	--dark-background-color: #0b212b;
	--dark-color: #222;
	--dark-color-rgb: 34 34 34;
	--default-text-color: #ccc;
	--light-color: #fff;
	--main-color: #112933;
	--main-font: 'Roboto', sans-serif;
	--secondary-text-color: #e6ee9c;
	--title-color: #f0ad4e;
	--vague-color: #e9ecef;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--main-color);
	font-family: var(--main-font);
	height: 100%;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: var(--default-text-color);
	/* display: flex;
	flex-direction: column;
	grid-template-rows: auto 1fr auto;
	justify-content: space-between;
	min-height: 100vh;
	scrollbar-gutter: stable both-edges;
	scrollbar-width: thin;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased; */
}

* ::-webkit-scrollbar {
	display: none;
}

#root {
	min-height: inherit;
}

.page {
	display: flex;
	flex-direction: column;
}

.page main {
	flex: 1;
}
