.cCustomButton {
	background-color: var(--main-color);
	border-radius: 0.3rem;
	border: 1px solid var(--title-color);
	color: var(--title-color);
	display: inline-block;
	font-family: var(--main-font);
	margin-top: 1.5rem;
	padding: 0.5rem 1rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
	transition-property: box-shadow;
}

.cCustomButton:hover {
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;
}